<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ayesha.dagger2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".dipattern.lesson_five_runtime_dependency.RuntimeDependencyActivity"></activity>
        <activity android:name=".dipattern.lesson_four_binds.BindActivity" />
        <activity android:name=".dipattern.lesson_three_field_injection.FieldInjectionActivity" />
        <activity android:name=".dipattern.lesson_two_constructor_injection_with_module.ConstructorInjectionWithModuleActivity" />
        <activity android:name=".dipattern.lesson_one_constructor_injection.ConstructorInjectionActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>